.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    justify-content: space-evenly;
    grid-gap: 5px;
    row-gap: 10px;
    font-size: 14px;
    padding: 20px;
}


.grid-view.pictures,
.grid-view.email-images,
.grid-view.images,
.grid-view.illustrations {
    grid-template-columns: repeat(auto-fill, 240px);

    .asset-box {
        max-width: 240px;
        min-width: 240px;



        img {
            max-height: 80px;
        }
    }
}

.grid-view.font-glyph img {
    height: 32px;
}

.grid-view {
    .asset-box {
        max-width: 180px;
        min-width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 8px;
        padding: 0px 0 14px;
        justify-content: space-between;

        .thumb {
            margin: auto;
            width: 100%;
            height: -webkit-fill-available;
            border-radius: 8px 8px 0 0;
            align-content: center;
            text-align: center;
            background-color: #d2d2d2;
        }

        .thumb.image\/png {
            background-color: #FFF;
            background-size: 20px 20px;
            background-position: 0 0, 10px 10px;
            background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc),
                linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
        }

        .info {
            justify-items: center;
        }

        img {
            max-height: 64px;
            padding: 4px;
        }

        .url {
            font-size: 10px
        }
    }
}