body {
    font-family: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f7f9f8;
    color: #25292a;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    & div { box-sizing: border-box; }

    --color-border: #e2e4e3;
    --color-hover:  #008df6;
    --color-icon:   #25af7c;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 300;
  color: #646cff;
  text-decoration: inherit;
}
