.icon-button {
    font-size: 1.2em;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 28px;
    width: 28px;

    .icon {
        transform: translateY(-1px);
    }

    &:hover {
        cursor: pointer;
        background-color: #92b536;
        padding-left: 4px;
        padding: 0 4px;
        border-radius: 8px;
        color: white;
    }
    &:active {
        background-color: #a1c937;
    }
}

.radio-button,
.click-button {
    display: inline-flex;
    padding: 3px 10px 4px 8px;
    color: #fdfbfd;
    border-radius: 4px;
    user-select: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: center;
    place-items: center;
    transition: background-color 0.25s;

    & .icon {
        margin-right: 8px;
        font-size: .8em;
        opacity: 0.9;
    }

    &.icon {
        color: #34619b;
        font-size: 0.8em;

        &:hover {
            color: #3e74ba;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &:active {
        filter: brightness(0.9);
    }

    &.primary {
        background-color: #34619b;

        &:hover {
            background-color: #3e74ba;
        }

        &.passive {
            background-color: #d0d9e5;
            border-color: #86a8d4;
            color: #4a6d9a;

            &:hover {
                background-color: #3e74ba;
                color: white;
            }
        }

    }

    &.secondair {
        background-color: #fcc43b;

        &:hover {
            background-color: #ffeb46;
        }
    }

    &.info {
        background-color: #768cfb;

        &:hover {
            background-color: #8da8ff;
        }
    }

    &.positive {
        background-color: #67bf2e;

        &:hover {
            background-color: #7be537;
        }
    }

    &.negative {
        background-color: #d20d30;

        &:hover {
            background-color: #fc0f39;
        }
    }

    &.success {
        background-color: #67bf2e;

        &:hover {
            background-color: #7be537;
        }
    }

    &.warning {
        background-color: #ff5814;

        &:hover {
            background-color: #ff6918;
        }
    }

    &.danger {
        background-color: #ff5814;

        &:hover {
            background-color: #ff6918;
        }
    }

    &.error {
        background-color: #d20d30;

        &:hover {
            background-color: #fc0f39;
        }
    }

    &.light {
        background-color: #fdfbfd;

        &:hover {
            background-color: #ffffff;
        }
    }

    &.dark {
        background-color: #25292a;

        &:hover {
            background-color: #2c3132;
        }
    }

    &.link {
        text-decoration: underline;
        color: rgb(52, 97, 155);
        background-color: rgba(0, 0, 0, 0);

        &:hover {
            background-color: rgba(52, 97, 155, 0.1);
        }
    }
}