.menu-header {
    position: fixed;
    left: 0; right: 0;
    top: 40px; height: 40px;
    z-index: 9;
    box-shadow: 0 0 8px #0000002e;
}

.menu-sub-header,
.menu-header {

    display: flex;
    user-select: none;
    padding: 0 14px;
    background-color: white;
    font-weight: 300;
    font-size: 13px;
    align-items: center;
    letter-spacing: .3px;

    .separator {
        padding: 0 8px;
    }

    &.center {
        justify-content: center;
    }

    a {
        padding: 4px 12px 4px 6px;
        display: flex;
        align-self: center;
        align-items: center;
        transition: background-color 200ms;
        color: inherit;
        border-radius: 4px;
        margin: 0 1px;

        &:hover {
            background-color: #92b53640;
            color: #213547;
            border-radius: 4px;
            cursor: pointer;
            font-weight: 900;
            letter-spacing: 0;
        }

    }

    a.focus:hover,
    a.focus {
        background-color: #92b536;
        color: white;
        font-weight: 500;
        letter-spacing: 0;
    }

    .link-button {
        cursor: pointer;
        text-wrap: nowrap;
        white-space: nowrap;
    }

}

.filter-header {
    height: 60px;
    width: 100%;
    display: flex;
    background-color: white;
    // box-shadow: 0 0 8px #0000002e;
    position: relative;
    border-bottom: 1px solid var(--color-border);
    align-items: center;

    .top-right {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 0;
        border-left: 1px solid var(--color-border);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            border-radius: 4px;
            background-color: #d0dcb4;
            cursor: pointer;
        }
    }

}