.menu-header {
    display: flex;
    user-select: none;
    position: fixed;
    left: 0; right: 0;
    top: 40px; height: 40px;
    padding: 0 14px;
    background-color: white;
    z-index: 9;
    box-shadow: 0 0 8px #0000002e;
    font-weight: 300;
    font-size: 13px;
    align-items: center;

    .separator {
        padding: 0 8px;
    }

    &.center {
        justify-content: center;
    }

    a {
        padding: 4px 16px 4px 8px;
        display: flex;
        align-self: center;
        align-items: center;
        transition: background-color 200ms;
        color: inherit;
        border-radius: 4px;
        margin: 0 1px;

        &:hover {
            background-color: #92b53640;
            color: #213547;
            border-radius: 4px;
            cursor: pointer;
            font-weight: 900;
        }

    }

    a.focus:hover,
    a.focus {
        background-color: #92b536;
        color: white;
        font-weight: 500;
    }

    .link-button {
        cursor: pointer;
        // padding: 4px 4px;
    }

}