.button-row {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.scroll-content {
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;

    margin: 80px auto 0;
    width: 100%;
    max-width: 1400px;
    max-height: calc(100vh);
    overflow: auto;
}
