@font-face {
  font-family: 'iconfont';
  src: url('/fonts/eventlab-iconfont.eot?1737129293');
  src: url('/fonts/eventlab-iconfont.eot?1737129293#iefix') format('embedded-opentype'),
  /*   url('/fonts/eventlab-iconfont.woff2?1737129293') format('woff2'), */
       url('/fonts/eventlab-iconfont.woff?1737129293') format('woff'),
       url('/fonts/eventlab-iconfont.ttf?1737129293') format('truetype'),
       url('/fonts/eventlab-iconfont.svg?1737129293#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:after, [class*=" icon-"]:after,
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  speak: never;
  transform: scaleX(1) scaleY(-1);
  display: inline-block;
  text-decoration: inherit;

  width: 1em;
/*
  margin-left: .2em;
  margin-right: .2em;
  text-align: center;
*/
  min-height: 1em;
  color: inherit;
  height: initial;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-academic-cap:before { content: '\e900'; }
.icon-add-box:before { content: '\e901'; }
.icon-adjustments-horizontal:before { content: '\e902'; }
.icon-adjustments-vertical:before { content: '\e903'; }
.icon-align-center:before { content: '\e904'; }
.icon-align-justify:before { content: '\e905'; }
.icon-align-left:before { content: '\e906'; }
.icon-align-right:before { content: '\e907'; }
.icon-angle-double-right:before { content: '\e908'; }
.icon-archive-box-arrow-down:before { content: '\e909'; }
.icon-archive-box-x-mark:before { content: '\e90a'; }
.icon-archive-box:before { content: '\e90b'; }
.icon-archive:before { content: '\e90c'; }
.icon-arrow-down-circle:before { content: '\e90d'; }
.icon-arrow-down-left:before { content: '\e90e'; }
.icon-arrow-down-on-square-stack:before { content: '\e90f'; }
.icon-arrow-down-on-square:before { content: '\e910'; }
.icon-arrow-down-right:before { content: '\e911'; }
.icon-arrow-down-tray:before { content: '\e912'; }
.icon-arrow-down:before { content: '\e913'; }
.icon-arrow-left-circle:before { content: '\e914'; }
.icon-arrow-left-end-on-rectangle:before { content: '\e915'; }
.icon-arrow-left-on-rectangle:before { content: '\e916'; }
.icon-arrow-left-start-on-rectangle:before { content: '\e917'; }
.icon-arrow-left:before { content: '\e918'; }
.icon-arrow-long-down:before { content: '\e919'; }
.icon-arrow-long-left:before { content: '\e91a'; }
.icon-arrow-long-right:before { content: '\e91b'; }
.icon-arrow-long-up:before { content: '\e91c'; }
.icon-arrow-path-rounded-square:before { content: '\e91d'; }
.icon-arrow-path:before { content: '\e91e'; }
.icon-arrow-right-circle:before { content: '\e91f'; }
.icon-arrow-right-end-on-rectangle:before { content: '\e920'; }
.icon-arrow-right-on-rectangle:before { content: '\e921'; }
.icon-arrow-right-start-on-rectangle:before { content: '\e922'; }
.icon-arrow-right:before { content: '\e923'; }
.icon-arrow-small-down:before { content: '\e924'; }
.icon-arrow-small-left:before { content: '\e925'; }
.icon-arrow-small-right:before { content: '\e926'; }
.icon-arrow-small-up:before { content: '\e927'; }
.icon-arrow-top-right-on-square:before { content: '\e928'; }
.icon-arrow-trending-down:before { content: '\e929'; }
.icon-arrow-trending-up:before { content: '\e92a'; }
.icon-arrow-turn-down-left:before { content: '\e92b'; }
.icon-arrow-turn-down-right:before { content: '\e92c'; }
.icon-arrow-turn-left-down:before { content: '\e92d'; }
.icon-arrow-turn-left-up:before { content: '\e92e'; }
.icon-arrow-turn-right-down:before { content: '\e92f'; }
.icon-arrow-turn-right-up:before { content: '\e930'; }
.icon-arrow-turn-up-left:before { content: '\e931'; }
.icon-arrow-turn-up-right:before { content: '\e932'; }
.icon-arrow-up-circle:before { content: '\e933'; }
.icon-arrow-up-left:before { content: '\e934'; }
.icon-arrow-up-on-square-stack:before { content: '\e935'; }
.icon-arrow-up-on-square:before { content: '\e936'; }
.icon-arrow-up-right:before { content: '\e937'; }
.icon-arrow-up-tray:before { content: '\e938'; }
.icon-arrow-up:before { content: '\e939'; }
.icon-arrow-uturn-down:before { content: '\e93a'; }
.icon-arrow-uturn-left:before { content: '\e93b'; }
.icon-arrow-uturn-right:before { content: '\e93c'; }
.icon-arrow-uturn-up:before { content: '\e93d'; }
.icon-arrows-pointing-in:before { content: '\e93e'; }
.icon-arrows-pointing-out:before { content: '\e93f'; }
.icon-arrows-right-left:before { content: '\e940'; }
.icon-arrows-up-down:before { content: '\e941'; }
.icon-article:before { content: '\e942'; }
.icon-assignment:before { content: '\e943'; }
.icon-asterisk:before { content: '\e944'; }
.icon-at-symbol:before { content: '\e945'; }
.icon-backspace:before { content: '\e946'; }
.icon-backward:before { content: '\e947'; }
.icon-banknotes:before { content: '\e948'; }
.icon-bars-2:before { content: '\e949'; }
.icon-bars-3-bottom-left:before { content: '\e94a'; }
.icon-bars-3-bottom-right:before { content: '\e94b'; }
.icon-bars-3-center-left:before { content: '\e94c'; }
.icon-bars-3:before { content: '\e94d'; }
.icon-bars-4:before { content: '\e94e'; }
.icon-bars-arrow-down:before { content: '\e94f'; }
.icon-bars-arrow-up:before { content: '\e950'; }
.icon-battery-0:before { content: '\e951'; }
.icon-battery-100:before { content: '\e952'; }
.icon-battery-50:before { content: '\e953'; }
.icon-beaker:before { content: '\e954'; }
.icon-bell-alert:before { content: '\e955'; }
.icon-bell-slash:before { content: '\e956'; }
.icon-bell-snooze:before { content: '\e957'; }
.icon-bell:before { content: '\e958'; }
.icon-bold:before { content: '\e959'; }
.icon-bolt-slash:before { content: '\e95a'; }
.icon-bolt:before { content: '\e95b'; }
.icon-book-open:before { content: '\e95c'; }
.icon-book:before { content: '\e95d'; }
.icon-bookmark-fill:before { content: '\e95e'; }
.icon-bookmark-slash:before { content: '\e95f'; }
.icon-bookmark-square:before { content: '\e960'; }
.icon-bookmark:before { content: '\e961'; }
.icon-briefcase:before { content: '\e962'; }
.icon-broken-image:before { content: '\e963'; }
.icon-brush:before { content: '\e964'; }
.icon-bug-ant:before { content: '\e965'; }
.icon-building-library:before { content: '\e966'; }
.icon-building-office-2:before { content: '\e967'; }
.icon-building-office:before { content: '\e968'; }
.icon-building-storefront:before { content: '\e969'; }
.icon-building:before { content: '\e96a'; }
.icon-bullseye:before { content: '\e96b'; }
.icon-cake:before { content: '\e96c'; }
.icon-calculator:before { content: '\e96d'; }
.icon-calendar-date-range:before { content: '\e96e'; }
.icon-calendar-days:before { content: '\e96f'; }
.icon-calendar:before { content: '\e970'; }
.icon-camera:before { content: '\e971'; }
.icon-chart-bar-square:before { content: '\e972'; }
.icon-chart-bar:before { content: '\e973'; }
.icon-chart-line:before { content: '\e974'; }
.icon-chart-pie:before { content: '\e975'; }
.icon-chat-bubble-bottom-center-text:before { content: '\e976'; }
.icon-chat-bubble-bottom-center:before { content: '\e977'; }
.icon-chat-bubble-left-ellipsis:before { content: '\e978'; }
.icon-chat-bubble-left-right:before { content: '\e979'; }
.icon-chat-bubble-left:before { content: '\e97a'; }
.icon-chat-bubble-oval-left-ellipsis:before { content: '\e97b'; }
.icon-chat-bubble-oval-left:before { content: '\e97c'; }
.icon-check-badge:before { content: '\e97d'; }
.icon-check-circle:before { content: '\e97e'; }
.icon-check-square:before { content: '\e97f'; }
.icon-check:before { content: '\e980'; }
.icon-checkbox-box:before { content: '\e981'; }
.icon-checkbox-check:before { content: '\e982'; }
.icon-chervron-left:before { content: '\e983'; }
.icon-chevron-circle-down:before { content: '\e984'; }
.icon-chevron-circle-left:before { content: '\e985'; }
.icon-chevron-circle-right:before { content: '\e986'; }
.icon-chevron-circle-up:before { content: '\e987'; }
.icon-chevron-double-down:before { content: '\e988'; }
.icon-chevron-double-left:before { content: '\e989'; }
.icon-chevron-double-right:before { content: '\e98a'; }
.icon-chevron-double-up:before { content: '\e98b'; }
.icon-chevron-down:before { content: '\e98c'; }
.icon-chevron-left:before { content: '\e98d'; }
.icon-chevron-right:before { content: '\e98e'; }
.icon-chevron-up-down:before { content: '\e98f'; }
.icon-chevron-up:before { content: '\e990'; }
.icon-circle-stack:before { content: '\e991'; }
.icon-clipboard-document-check:before { content: '\e992'; }
.icon-clipboard-document-list:before { content: '\e993'; }
.icon-clipboard-document:before { content: '\e994'; }
.icon-clipboard:before { content: '\e995'; }
.icon-clock:before { content: '\e996'; }
.icon-clone:before { content: '\e997'; }
.icon-cloud-arrow-down:before { content: '\e998'; }
.icon-cloud-arrow-up:before { content: '\e999'; }
.icon-cloud:before { content: '\e99a'; }
.icon-code-bracket-square:before { content: '\e99b'; }
.icon-code-bracket:before { content: '\e99c'; }
.icon-code-css:before { content: '\e99d'; }
.icon-code-html:before { content: '\e99e'; }
.icon-code-js:before { content: '\e99f'; }
.icon-cog-6-tooth:before { content: '\e9a0'; }
.icon-cog-8-tooth:before { content: '\e9a1'; }
.icon-cog:before { content: '\e9a2'; }
.icon-command-line:before { content: '\e9a3'; }
.icon-compass:before { content: '\e9a4'; }
.icon-computer-desktop:before { content: '\e9a5'; }
.icon-container:before { content: '\e9a6'; }
.icon-cpu-chip:before { content: '\e9a7'; }
.icon-credit-card:before { content: '\e9a8'; }
.icon-crown:before { content: '\e9a9'; }
.icon-cube-transparent:before { content: '\e9aa'; }
.icon-cube:before { content: '\e9ab'; }
.icon-currency-bangladeshi:before { content: '\e9ac'; }
.icon-currency-dollar:before { content: '\e9ad'; }
.icon-currency-euro:before { content: '\e9ae'; }
.icon-currency-pound:before { content: '\e9af'; }
.icon-currency-rupee:before { content: '\e9b0'; }
.icon-currency-yen:before { content: '\e9b1'; }
.icon-cursor-arrow-rays:before { content: '\e9b2'; }
.icon-cursor-arrow-ripple:before { content: '\e9b3'; }
.icon-database:before { content: '\e9b4'; }
.icon-delete-left:before { content: '\e9b5'; }
.icon-deployed-code:before { content: '\e9b6'; }
.icon-desktop:before { content: '\e9b7'; }
.icon-device-phone-mobile:before { content: '\e9b8'; }
.icon-device-tablet:before { content: '\e9b9'; }
.icon-divide:before { content: '\e9ba'; }
.icon-docker:before { content: '\e9bb'; }
.icon-document-arrow-down:before { content: '\e9bc'; }
.icon-document-arrow-up:before { content: '\e9bd'; }
.icon-document-chart-bar:before { content: '\e9be'; }
.icon-document-check:before { content: '\e9bf'; }
.icon-document-currency-bangladeshi:before { content: '\e9c0'; }
.icon-document-currency-dollar:before { content: '\e9c1'; }
.icon-document-currency-euro:before { content: '\e9c2'; }
.icon-document-currency-pound:before { content: '\e9c3'; }
.icon-document-currency-rupee:before { content: '\e9c4'; }
.icon-document-currency-yen:before { content: '\e9c5'; }
.icon-document-duplicate:before { content: '\e9c6'; }
.icon-document-magnifying-glass:before { content: '\e9c7'; }
.icon-document-minus:before { content: '\e9c8'; }
.icon-document-plus:before { content: '\e9c9'; }
.icon-document-text:before { content: '\e9ca'; }
.icon-document:before { content: '\e9cb'; }
.icon-download:before { content: '\e9cc'; }
.icon-ellipsis-horizontal-circle:before { content: '\e9cd'; }
.icon-ellipsis-horizontal:before { content: '\e9ce'; }
.icon-ellipsis-vertical:before { content: '\e9cf'; }
.icon-email:before { content: '\e9d0'; }
.icon-envelope-open:before { content: '\e9d1'; }
.icon-envelope:before { content: '\e9d2'; }
.icon-equals:before { content: '\e9d3'; }
.icon-exclamation-circle:before { content: '\e9d4'; }
.icon-exclamation-triangle:before { content: '\e9d5'; }
.icon-expand:before { content: '\e9d6'; }
.icon-eye-dropper:before { content: '\e9d7'; }
.icon-eye-slash:before { content: '\e9d8'; }
.icon-eye:before { content: '\e9d9'; }
.icon-face-frown:before { content: '\e9da'; }
.icon-face-smile:before { content: '\e9db'; }
.icon-face:before { content: '\e9dc'; }
.icon-film:before { content: '\e9dd'; }
.icon-filter-list:before { content: '\e9de'; }
.icon-finger-print:before { content: '\e9df'; }
.icon-fire:before { content: '\e9e0'; }
.icon-fixedfile:before { content: '\e9e1'; }
.icon-flag:before { content: '\e9e2'; }
.icon-folder-arrow-down:before { content: '\e9e3'; }
.icon-folder-full:before { content: '\e9e4'; }
.icon-folder-minus:before { content: '\e9e5'; }
.icon-folder-new:before { content: '\e9e6'; }
.icon-folder-open:before { content: '\e9e7'; }
.icon-folder-plus:before { content: '\e9e8'; }
.icon-folder-zip:before { content: '\e9e9'; }
.icon-folder:before { content: '\e9ea'; }
.icon-font-icon:before { content: '\e9eb'; }
.icon-font:before { content: '\e9ec'; }
.icon-form:before { content: '\e9ed'; }
.icon-forward:before { content: '\e9ee'; }
.icon-funnel:before { content: '\e9ef'; }
.icon-gauge:before { content: '\e9f0'; }
.icon-gif:before { content: '\e9f1'; }
.icon-gift-top:before { content: '\e9f2'; }
.icon-gift:before { content: '\e9f3'; }
.icon-globe-alt:before { content: '\e9f4'; }
.icon-globe-americas:before { content: '\e9f5'; }
.icon-globe-asia-australia:before { content: '\e9f6'; }
.icon-globe-europe-africa:before { content: '\e9f7'; }
.icon-globe:before { content: '\e9f8'; }
.icon-h1:before { content: '\e9f9'; }
.icon-h2:before { content: '\e9fa'; }
.icon-h3:before { content: '\e9fb'; }
.icon-hand-raised:before { content: '\e9fc'; }
.icon-hand-thumb-down:before { content: '\e9fd'; }
.icon-hand-thumb-up:before { content: '\e9fe'; }
.icon-handshake:before { content: '\e9ff'; }
.icon-hashtag:before { content: '\ea00'; }
.icon-heart:before { content: '\ea01'; }
.icon-history:before { content: '\ea02'; }
.icon-home-modern:before { content: '\ea03'; }
.icon-home:before { content: '\ea04'; }
.icon-hourglass:before { content: '\ea05'; }
.icon-hub:before { content: '\ea06'; }
.icon-identification:before { content: '\ea07'; }
.icon-image-search:before { content: '\ea08'; }
.icon-image:before { content: '\ea09'; }
.icon-imagesmode:before { content: '\ea0a'; }
.icon-inbox-arrow-down:before { content: '\ea0b'; }
.icon-inbox-stack:before { content: '\ea0c'; }
.icon-inbox:before { content: '\ea0d'; }
.icon-info-circle:before { content: '\ea0e'; }
.icon-information-circle:before { content: '\ea0f'; }
.icon-italic:before { content: '\ea10'; }
.icon-key:before { content: '\ea11'; }
.icon-language:before { content: '\ea12'; }
.icon-lifebuoy:before { content: '\ea13'; }
.icon-light-bulb:before { content: '\ea14'; }
.icon-link-slash:before { content: '\ea15'; }
.icon-link:before { content: '\ea16'; }
.icon-list-bullet:before { content: '\ea17'; }
.icon-list:before { content: '\ea18'; }
.icon-lock-closed:before { content: '\ea19'; }
.icon-lock-open:before { content: '\ea1a'; }
.icon-lock:before { content: '\ea1b'; }
.icon-magnifying-glass-circle:before { content: '\ea1c'; }
.icon-magnifying-glass-minus:before { content: '\ea1d'; }
.icon-magnifying-glass-plus:before { content: '\ea1e'; }
.icon-magnifying-glass:before { content: '\ea1f'; }
.icon-map-pin:before { content: '\ea20'; }
.icon-map:before { content: '\ea21'; }
.icon-megaphone:before { content: '\ea22'; }
.icon-microchip:before { content: '\ea23'; }
.icon-microphone:before { content: '\ea24'; }
.icon-minus-circle:before { content: '\ea25'; }
.icon-minus-small:before { content: '\ea26'; }
.icon-minus:before { content: '\ea27'; }
.icon-mobile:before { content: '\ea28'; }
.icon-moon:before { content: '\ea29'; }
.icon-more-horz:before { content: '\ea2a'; }
.icon-more-vert:before { content: '\ea2b'; }
.icon-musical-note:before { content: '\ea2c'; }
.icon-newspaper:before { content: '\ea2d'; }
.icon-no-symbol:before { content: '\ea2e'; }
.icon-numbered-list:before { content: '\ea2f'; }
.icon-package-box:before { content: '\ea30'; }
.icon-package:before { content: '\ea31'; }
.icon-pages:before { content: '\ea32'; }
.icon-paint-brush:before { content: '\ea33'; }
.icon-palette:before { content: '\ea34'; }
.icon-paper-airplane:before { content: '\ea35'; }
.icon-paper-clip:before { content: '\ea36'; }
.icon-path-rounded:before { content: '\ea37'; }
.icon-pause-circle:before { content: '\ea38'; }
.icon-pause:before { content: '\ea39'; }
.icon-pencil-square:before { content: '\ea3a'; }
.icon-pencil:before { content: '\ea3b'; }
.icon-percent-badge:before { content: '\ea3c'; }
.icon-phone-arrow-down-left:before { content: '\ea3d'; }
.icon-phone-arrow-up-right:before { content: '\ea3e'; }
.icon-phone-x-mark:before { content: '\ea3f'; }
.icon-phone:before { content: '\ea40'; }
.icon-photo:before { content: '\ea41'; }
.icon-play-arrow:before { content: '\ea42'; }
.icon-play-circle:before { content: '\ea43'; }
.icon-play-pause:before { content: '\ea44'; }
.icon-play:before { content: '\ea45'; }
.icon-plus-circle:before { content: '\ea46'; }
.icon-plus-small:before { content: '\ea47'; }
.icon-plus:before { content: '\ea48'; }
.icon-power:before { content: '\ea49'; }
.icon-presentation-chart-bar:before { content: '\ea4a'; }
.icon-presentation-chart-line:before { content: '\ea4b'; }
.icon-printer:before { content: '\ea4c'; }
.icon-publish:before { content: '\ea4d'; }
.icon-puzzle-piece:before { content: '\ea4e'; }
.icon-qr-code:before { content: '\ea4f'; }
.icon-qrcode:before { content: '\ea50'; }
.icon-question-mark-circle:before { content: '\ea51'; }
.icon-queue-list:before { content: '\ea52'; }
.icon-radio-checked:before { content: '\ea53'; }
.icon-radio-unchecked:before { content: '\ea54'; }
.icon-radio:before { content: '\ea55'; }
.icon-receipt-percent:before { content: '\ea56'; }
.icon-receipt-refund:before { content: '\ea57'; }
.icon-rectangle-group:before { content: '\ea58'; }
.icon-rectangle-stack:before { content: '\ea59'; }
.icon-rightpanel-close:before { content: '\ea5a'; }
.icon-rightpanel-open:before { content: '\ea5b'; }
.icon-rocket-launch:before { content: '\ea5c'; }
.icon-rss:before { content: '\ea5d'; }
.icon-scale:before { content: '\ea5e'; }
.icon-science:before { content: '\ea5f'; }
.icon-scissors:before { content: '\ea60'; }
.icon-search-minus:before { content: '\ea61'; }
.icon-search-plus:before { content: '\ea62'; }
.icon-search:before { content: '\ea63'; }
.icon-send:before { content: '\ea64'; }
.icon-server-box:before { content: '\ea65'; }
.icon-server-stack:before { content: '\ea66'; }
.icon-server:before { content: '\ea67'; }
.icon-share:before { content: '\ea68'; }
.icon-shield-check:before { content: '\ea69'; }
.icon-shield-exclamation:before { content: '\ea6a'; }
.icon-shield:before { content: '\ea6b'; }
.icon-shopping-bag:before { content: '\ea6c'; }
.icon-shopping-cart:before { content: '\ea6d'; }
.icon-sign-in:before { content: '\ea6e'; }
.icon-sign-out:before { content: '\ea6f'; }
.icon-signal-slash:before { content: '\ea70'; }
.icon-signal:before { content: '\ea71'; }
.icon-slash:before { content: '\ea72'; }
.icon-sort-alpha-down-alt:before { content: '\ea73'; }
.icon-sort-alpha-down:before { content: '\ea74'; }
.icon-sort-alpha-up-alt:before { content: '\ea75'; }
.icon-sort-alpha-up:before { content: '\ea76'; }
.icon-sort-amount-down-alt:before { content: '\ea77'; }
.icon-sort-amount-down:before { content: '\ea78'; }
.icon-sort-amount-up-alt:before { content: '\ea79'; }
.icon-sort-amount-up:before { content: '\ea7a'; }
.icon-sort-numeric-down-alt:before { content: '\ea7b'; }
.icon-sort-numeric-down:before { content: '\ea7c'; }
.icon-sort-numeric-up-alt:before { content: '\ea7d'; }
.icon-sort-numeric-up:before { content: '\ea7e'; }
.icon-sparkles:before { content: '\ea7f'; }
.icon-speaker-wave:before { content: '\ea80'; }
.icon-speaker-x-mark:before { content: '\ea81'; }
.icon-spinner-dotted:before { content: '\ea82'; }
.icon-square-2-stack:before { content: '\ea83'; }
.icon-square-3-stack-3d:before { content: '\ea84'; }
.icon-squares-2x2:before { content: '\ea85'; }
.icon-squares-plus:before { content: '\ea86'; }
.icon-stacks:before { content: '\ea87'; }
.icon-star:before { content: '\ea88'; }
.icon-stop-circle:before { content: '\ea89'; }
.icon-stop:before { content: '\ea8a'; }
.icon-strikethrough:before { content: '\ea8b'; }
.icon-sun:before { content: '\ea8c'; }
.icon-swatch:before { content: '\ea8d'; }
.icon-table-cells:before { content: '\ea8e'; }
.icon-tablet:before { content: '\ea8f'; }
.icon-tag:before { content: '\ea90'; }
.icon-tags:before { content: '\ea91'; }
.icon-th-large:before { content: '\ea92'; }
.icon-ticket:before { content: '\ea93'; }
.icon-times-circle:before { content: '\ea94'; }
.icon-times:before { content: '\ea95'; }
.icon-toast:before { content: '\ea96'; }
.icon-today:before { content: '\ea97'; }
.icon-toggle-off:before { content: '\ea98'; }
.icon-toggle-on:before { content: '\ea99'; }
.icon-trash:before { content: '\ea9a'; }
.icon-trophy:before { content: '\ea9b'; }
.icon-truck:before { content: '\ea9c'; }
.icon-tv:before { content: '\ea9d'; }
.icon-underline:before { content: '\ea9e'; }
.icon-upload-file:before { content: '\ea9f'; }
.icon-upload:before { content: '\eaa0'; }
.icon-user-circle:before { content: '\eaa1'; }
.icon-user--color:before { content: '\eaa2'; color: var(--color-icon); transform: translateX(.5em) scaleY(-1); }
.icon-user--color:after  { content: '\eaa3'; transform: translate(-.5em, 2px) scaleY(-1); } 

.icon-user-group:before { content: '\eaa4'; }
.icon-user-minus:before { content: '\eaa5'; }
.icon-user-plus:before { content: '\eaa6'; }
.icon-user:before { content: '\eaa7'; }
.icon-users:before { content: '\eaa8'; }
.icon-variable:before { content: '\eaa9'; }
.icon-video-camera-slash:before { content: '\eaaa'; }
.icon-video-camera:before { content: '\eaab'; }
.icon-view-columns:before { content: '\eaac'; }
.icon-viewfinder-circle:before { content: '\eaad'; }
.icon-visibility-off:before { content: '\eaae'; }
.icon-visibility-on:before { content: '\eaaf'; }
.icon-wallet:before { content: '\eab0'; }
.icon-wifi:before { content: '\eab1'; }
.icon-window:before { content: '\eab2'; }
.icon-wrench-screwdriver:before { content: '\eab3'; }
.icon-wrench:before { content: '\eab4'; }
.icon-x-circle:before { content: '\eab5'; }
.icon-x-mark:before { content: '\eab6'; }
.icon-zoom-in:before { content: '\eab7'; }
.icon-zoom-out:before { content: '\eab8'; }
