@font-face {
  font-family: 'iconfont';
  src: url('/fonts/eventlab-iconfont.eot?1735041475');
  src: url('/fonts/eventlab-iconfont.eot?1735041475#iefix') format('embedded-opentype'),
  /*   url('/fonts/eventlab-iconfont.woff2?1735041475') format('woff2'), */
       url('/fonts/eventlab-iconfont.woff?1735041475') format('woff'),
       url('/fonts/eventlab-iconfont.ttf?1735041475') format('truetype'),
       url('/fonts/eventlab-iconfont.svg?1735041475#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:after, [class*=" icon-"]:after,
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  speak: never;
  transform: scaleX(1) scaleY(-1);
  display: inline-block;
  text-decoration: inherit;

  width: 1em;
/*
  margin-left: .2em;
  margin-right: .2em;
  text-align: center;
*/
  min-height: 1em;
  color: inherit;
  height: initial;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-box:before { content: '\e900'; }
.icon-align-center:before { content: '\e901'; }
.icon-align-justify:before { content: '\e902'; }
.icon-align-left:before { content: '\e903'; }
.icon-align-right:before { content: '\e904'; }
.icon-angle-double-right:before { content: '\e905'; }
.icon-archive:before { content: '\e906'; }
.icon-article:before { content: '\e907'; }
.icon-assignment:before { content: '\e908'; }
.icon-asterisk:before { content: '\e909'; }
.icon-bell-slash:before { content: '\e90a'; }
.icon-bell:before { content: '\e90b'; }
.icon-book:before { content: '\e90c'; }
.icon-bookmark-fill:before { content: '\e90d'; }
.icon-bookmark:before { content: '\e90e'; }
.icon-broken-image:before { content: '\e90f'; }
.icon-brush:before { content: '\e910'; }
.icon-building:before { content: '\e911'; }
.icon-bullseye:before { content: '\e912'; }
.icon-calculator:before { content: '\e913'; }
.icon-calendar:before { content: '\e914'; }
.icon-chart-bar:before { content: '\e915'; }
.icon-chart-line:before { content: '\e916'; }
.icon-chart-pie:before { content: '\e917'; }
.icon-check-square:before { content: '\e918'; }
.icon-checkbox-box:before { content: '\e919'; }
.icon-checkbox-check:before { content: '\e91a'; }
.icon-chervron-left:before { content: '\e91b'; }
.icon-chevron-circle-down:before { content: '\e91c'; }
.icon-chevron-circle-left:before { content: '\e91d'; }
.icon-chevron-circle-right:before { content: '\e91e'; }
.icon-chevron-circle-up:before { content: '\e91f'; }
.icon-chevron-down:before { content: '\e920'; }
.icon-chevron-left:before { content: '\e921'; }
.icon-chevron-right:before { content: '\e922'; }
.icon-chevron-up:before { content: '\e923'; }
.icon-clipboard:before { content: '\e924'; }
.icon-clone:before { content: '\e925'; }
.icon-code-css:before { content: '\e926'; }
.icon-code-html:before { content: '\e927'; }
.icon-code-js:before { content: '\e928'; }
.icon-cog:before { content: '\e929'; }
.icon-compass:before { content: '\e92a'; }
.icon-container:before { content: '\e92b'; }
.icon-crown:before { content: '\e92c'; }
.icon-database:before { content: '\e92d'; }
.icon-delete-left:before { content: '\e92e'; }
.icon-deployed-code:before { content: '\e92f'; }
.icon-desktop:before { content: '\e930'; }
.icon-docker:before { content: '\e931'; }
.icon-download:before { content: '\e932'; }
.icon-email:before { content: '\e933'; }
.icon-envelope:before { content: '\e934'; }
.icon-exclamation-triangle:before { content: '\e935'; }
.icon-expand:before { content: '\e936'; }
.icon-eye-slash:before { content: '\e937'; }
.icon-eye:before { content: '\e938'; }
.icon-face:before { content: '\e939'; }
.icon-filter-list:before { content: '\e93a'; }
.icon-fixedfile:before { content: '\e93b'; }
.icon-folder-full:before { content: '\e93c'; }
.icon-folder-new:before { content: '\e93d'; }
.icon-folder-open:before { content: '\e93e'; }
.icon-folder-zip:before { content: '\e93f'; }
.icon-folder:before { content: '\e940'; }
.icon-font-icon:before { content: '\e941'; }
.icon-font:before { content: '\e942'; }
.icon-gauge:before { content: '\e943'; }
.icon-globe:before { content: '\e944'; }
.icon-handshake:before { content: '\e945'; }
.icon-heart:before { content: '\e946'; }
.icon-history:before { content: '\e947'; }
.icon-home:before { content: '\e948'; }
.icon-hourglass:before { content: '\e949'; }
.icon-hub:before { content: '\e94a'; }
.icon-image-search:before { content: '\e94b'; }
.icon-image:before { content: '\e94c'; }
.icon-imagesmode:before { content: '\e94d'; }
.icon-inbox:before { content: '\e94e'; }
.icon-key:before { content: '\e94f'; }
.icon-link:before { content: '\e950'; }
.icon-list:before { content: '\e951'; }
.icon-lock-open:before { content: '\e952'; }
.icon-lock:before { content: '\e953'; }
.icon-microchip:before { content: '\e954'; }
.icon-mobile:before { content: '\e955'; }
.icon-moon:before { content: '\e956'; }
.icon-more-horz:before { content: '\e957'; }
.icon-more-vert:before { content: '\e958'; }
.icon-package-box:before { content: '\e959'; }
.icon-package:before { content: '\e95a'; }
.icon-pages:before { content: '\e95b'; }
.icon-palette:before { content: '\e95c'; }
.icon-pencil:before { content: '\e95d'; }
.icon-play-arrow:before { content: '\e95e'; }
.icon-play:before { content: '\e95f'; }
.icon-plus-circle:before { content: '\e960'; }
.icon-plus:before { content: '\e961'; }
.icon-publish:before { content: '\e962'; }
.icon-puzzle-piece:before { content: '\e963'; }
.icon-qrcode:before { content: '\e964'; }
.icon-radio-checked:before { content: '\e965'; }
.icon-radio-unchecked:before { content: '\e966'; }
.icon-rightpanel-close:before { content: '\e967'; }
.icon-rightpanel-open:before { content: '\e968'; }
.icon-rocket-launch:before { content: '\e969'; }
.icon-science:before { content: '\e96a'; }
.icon-search-minus:before { content: '\e96b'; }
.icon-search-plus:before { content: '\e96c'; }
.icon-search:before { content: '\e96d'; }
.icon-send:before { content: '\e96e'; }
.icon-server-box:before { content: '\e96f'; }
.icon-server:before { content: '\e970'; }
.icon-shield:before { content: '\e971'; }
.icon-sign-in:before { content: '\e972'; }
.icon-sign-out:before { content: '\e973'; }
.icon-sort-alpha-down-alt:before { content: '\e974'; }
.icon-sort-alpha-down:before { content: '\e975'; }
.icon-sort-alpha-up-alt:before { content: '\e976'; }
.icon-sort-alpha-up:before { content: '\e977'; }
.icon-sort-amount-down-alt:before { content: '\e978'; }
.icon-sort-amount-down:before { content: '\e979'; }
.icon-sort-amount-up-alt:before { content: '\e97a'; }
.icon-sort-amount-up:before { content: '\e97b'; }
.icon-sort-numeric-down-alt:before { content: '\e97c'; }
.icon-sort-numeric-down:before { content: '\e97d'; }
.icon-sort-numeric-up-alt:before { content: '\e97e'; }
.icon-sort-numeric-up:before { content: '\e97f'; }
.icon-spinner-dotted:before { content: '\e980'; }
.icon-stacks:before { content: '\e981'; }
.icon-star:before { content: '\e982'; }
.icon-stop:before { content: '\e983'; }
.icon-sun:before { content: '\e984'; }
.icon-tablet:before { content: '\e985'; }
.icon-tag:before { content: '\e986'; }
.icon-tags:before { content: '\e987'; }
.icon-th-large:before { content: '\e988'; }
.icon-ticket:before { content: '\e989'; }
.icon-times-circle:before { content: '\e98a'; }
.icon-times:before { content: '\e98b'; }
.icon-toast:before { content: '\e98c'; }
.icon-today:before { content: '\e98d'; }
.icon-toggle-off:before { content: '\e98e'; }
.icon-toggle-on:before { content: '\e98f'; }
.icon-trash:before { content: '\e990'; }
.icon-upload-file:before { content: '\e991'; }
.icon-upload:before { content: '\e992'; }
.icon-user--color:before { content: '\e993'; color: var(--color-icon); transform: translateX(.5em) scaleY(-1); }
.icon-user--color:after  { content: '\e994'; transform: translate(-.5em, 2px) scaleY(-1); } 

.icon-user-plus:before { content: '\e995'; }
.icon-user:before { content: '\e996'; }
.icon-users:before { content: '\e997'; }
.icon-visibility-off:before { content: '\e998'; }
.icon-visibility-on:before { content: '\e999'; }
.icon-wrench:before { content: '\e99a'; }
.icon-zoom-in:before { content: '\e99b'; }
.icon-zoom-out:before { content: '\e99c'; }
